---
layout: default
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	<div class="wrapper">
		<section>
			<div id="title">
				<h1>{{ site.name }}</h1>
				<p>{{ site.description }}</p>
				<span class="credits right">
					A <a href="https://hearthsim.info" target="_blank">HearthSim</a> project &bull;
					<a href="https://discord.gg/hearthsim-devs" target="_blank">Discord</a> &bull;
					<a href="https://hearthsim.info/join/" target="_blank">Join</a>
				</span>
			</div>
			<div id="main" class="container">
				{{ content }}
			</div>
		</section>
		<footer class="footer">
			{% include footer.html %}
		</footer>
	</div>
</body>
</html>
